 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
  <form action="/register" method="POST">
    <input type="email" name="email" placeholder="exemple@gmail.com" style="width: 250px">
    <input type="password" name="password" placeholder="password" style="width: 250px">
    <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   
 </body>
 </html>